.card__container {
    border: 3px solid #3E4357;
    border-radius: 10px;
    display: flex;
    height: 500px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    width: 350px;

}

.card__img {
    min-height: 100%; 
    min-width: 100%;
    transition: transform 0.8s;
}

.card__img:hover {
    transform: scale(1.1);

}