<div class="home__container">
    <app-card
     gameCover="../../../assets/Adventure-Island-II.png"
     gameLabel="Exclusive"
     gameType="Polystation"
     gamePrice="R$ 25,00"
     optionPlayer="Play it now!"
    ></app-card>

    <app-card
     gameCover="../../../assets/Bugs-Bunny-Crazy-Castle.png"
     gameLabel="Exclusive"
     gameType="Digital"
     gamePrice="R$ 21,00"
     optionPlayer="Play it now!"

     ></app-card>

    <app-card
     gameCover="../../../assets/Chip'n-Dale.png"
     gameLabel="Exclusive"

     ></app-card>

    <app-card
     gameCover="../../../assets/Duck-Hunt.png"
     gameLabel="Exclusive"

     ></app-card>

    <app-card
     gameCover="../../../assets/Final-Fantasy.png"
     gameLabel="Exclusive"

     ></app-card>

    <app-card
     gameCover="../../../assets/Godzilla-Monster-Of-Monsters.png"
     gameLabel="Exclusive"
     
     ></app-card>

    <app-card
     gameCover="../../../assets/Mighty-Final-Fight.png"
     gameLabel="Exclusive"
     
     >
    </app-card>

    <app-card
     gameCover="../../../assets/Motor-City-Patrol.png"
     gameLabel="Exclusive"
     
    ></app-card>

    <app-card
     gameCover="../../../assets/Race-America.png"
     gameLabel="Exclusive"
     
    ></app-card>

    <app-card
     gameCover="../../../assets/Soccer.png"
     gameLabel="Exclusive"
     
    ></app-card>

    <app-card
     gameCover="../../../assets/Spider-Man-Return-of-the-Sinister-Six.png"
     gameLabel="Exclusive"
     
    ></app-card>

    <app-card
     gameCover="../../../assets/Super-Mario-Bros-3.png"
     gameLabel="Exclusive"
     
    ></app-card>
</div>
