<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img src="../../../assets/logo-polystation.png" alt="Logo Polystation" width="140px" height="32px">
    </div>
    <div class="menu-bar__item">
        <ul>
            <li>
                <a href="#">HOME</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/rodolfo-rs-faria/" target="_blank">LINKEDIN</a>
            </li>
            <li>
                <a href="https://github.com/rodolforsf" target="_blank">GITHUB</a>
            </li>
        </ul>


    </div>
</div>
